body {
    background-color: white;
}

:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

#container {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item { 
    border: 1px solid #ddd;
}