body {
    background-color: white;
}

:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

#container {
    display: grid;
    grid-gap: 0px;
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-cols), auto);
    height: 98vh;
    width: 98vw;
}

.grid-item { 
    border: 1px solid #ddd;
    text-align: center;
}